# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# dependencies
node_modules

# build
dist
dist-ssr

# env
.env
*.local

# IDE
.vscode/
!.vscode/extensions.json
.idea

# OS
.DS_Store

# personal
notas.txt
comandos.txt
esquema-proyecto.txt
.bolt/
estrutura.txt

# capetas
bookingbio
profesiones